<!DOCTYPE html>
<html>
  <head>
    <title>Base presentation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <textarea id="source">
name: inverse
layout: true
class: center, middle, inverse
---
{% block title %}{% endblock %}
---
layout: false
{% block main %}{% endblock %}
    </textarea>
    <script src="remark.min.js"></script>
    <script>
      var slideshow = remark.create({
          highlightStyle: 'monokai',
          highlightLanguage: 'remark',
          highlightLines: true,
          });
    </script>
  </body>
</html>
